<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092080670616-llc94ems3nlhq43e868e78jc1oarceeu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092080670616-llc94ems3nlhq43e868e78jc1oarceeu</string>
	<key>API_KEY</key>
	<string>AIzaSyBBP4J43OmgihN_zNtVnvDzcYi68824FD4</string>
	<key>GCM_SENDER_ID</key>
	<string>1092080670616</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dewan.coronacamp</string>
	<key>PROJECT_ID</key>
	<string>aware-corona</string>
	<key>STORAGE_BUCKET</key>
	<string>aware-corona.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092080670616:ios:6459c44ab26208fd537ded</string>
	<key>DATABASE_URL</key>
	<string>https://aware-corona.firebaseio.com</string>
</dict>
</plist>